header {
  background-color: rgba(8, 7, 7, 0.904);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  height: 60px;
  width: 100vw;
  box-shadow: 0 1px rgb(27, 27, 27);
}

/* header.hidden {
  transform: translate3d(0, -100%, 0);
} */

header ul {
  gap: 10px;
  list-style-type: none;
  display: flex;
  margin-left: 580px;
}

header a {
  margin-right: 30px;
  font-weight: bold;
  font-size: 1rem;
}

header a:hover {
  color: rgb(6, 52, 234);
  cursor: pointer;
}

header nav {
  margin-right: 30px;
  font-size: 1.5rem; 
  color: rgb(6, 52, 234);
}
* {
  color: rgb(240, 240, 240);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}


body {
  width: 100vw;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(0,0,0);
}

main {
  width: 100vw;
  margin-top: 0px;
  padding-bottom: 20px;
  margin-bottom: -6px;
  background-color: rgba(0, 0, 0, 0.904);
}

section {
  width: 100vw;
  padding-top: 90px;
  margin-left: 8px;
  margin-right: 8px;
}

h2 {
  font-size: 1.4rem;
  padding-top: 0;
  padding-left: 8px;
  border-left: 4px solid rgb(6, 52, 234);
}

p {
  font-size: 0.8rem;
  margin-top: -35px;
}

.card {
  border: 2px solid rgba(6, 52, 234);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  width: 95vw;
  height: 260px;
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.card_body {
  margin-right: 10px;
  /* text-align: center; */
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.904);
  display: inline-block;
  border-radius: 8px;
  height: 200px;
  width: 150px;
}

.card_body:hover {
  transform: scale(1.05);
}

.card_Films {
  border: 2px solid rgba(6, 52, 234);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  width: 95vw;
  height: 510px;
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.card_Films_body {
  margin-right: 10px;
  /* text-align: center; */
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.904);
  display: inline-block;
  border-radius: 8px;
  height: 200px;
  width: 140px;
}

.card_Films_body:hover {
  transform: scale(1.05);
}

.card_Series {
  border: 2px solid rgba(6, 52, 234);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  width: 95vw;
  height: 510px;
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.card_Series_body {
  margin-right: 10px;
  /* text-align: center; */
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.904);
  display: inline-block;
  border-radius: 8px;
  height: 200px;
  width: 140px;
}

.card_Series_body:hover {
  transform: scale(1.05);
}

h6{
  font-size: 1rem;
  margin-top: 8px;
}

h6:hover {
  color: rgb(6, 52, 234);
}

footer {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.904);
}
footer div {
  text-align: center;
  width: 100vw;
  font-size: 1rem;
}

footer p {
  margin-top: 10px;
}

hr {
  border-color: rgba(6, 52, 234);
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  header nav {
    display: none;
  }
  header .burger {
    margin-right: 30px;
    display: block;
  }
  .menu-panel {
    display: block;
  }
  .menu-panel {
    display: block;
  }
}
@media screen and (min-width: 769px) {
  .menu-panel {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  header nav {
    display: none;
  }
  header .burger {
    margin-right: 40px;
    display: block;
  }
  .menu-panel {
    display: block;
  }
}
.burger {
  display: none;
}
.menu-panel {
  z-index: 2;
  overflow: hidden;
  margin: 0;
  position: fixed;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;

  & li {
    margin-left: 20px;
  }
  transition: right 0.4s ease;
  & ul {
    list-style-type: none;
  }
  & a {
    font-weight: bold;
    font-size: 0.9rem;
  }
  & a:hover {
    color: rgb(6, 52, 234);
  }
}
.menunav {
  display: block;
}
.menu-panel li {
  margin-top: 30px;
}

.menu-panel i {
  position: absolute;
  top: 35px;
  right: 20px;
}
.menu-panel.active {
  right: 16px;
}

.menulist {
  width: 150px;
}

.slider {
  display: flex;
  height: 220px;
  animation: slider 50s cubic-bezier(0.075, 1, 0.075, 1) 4s infinite;
}
@keyframes slider {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-160px);
  }
  20% {
    transform: translateX(-320px);
  }
  30% {
    transform: translateX(-480px);
  }
  40% {
    transform: translateX(-640px);
  }
  50% {
    transform: translateX(-800px);
  }
  60% {
    transform: translateX(-960px);
  }
  70% {
    transform: translateX(-1120px);
  }
  80% {
    transform: translateX(-1280px);
  }
  90% {
    transform: translateX(-1440px);
  }
  100% {
    transform: translateX(-1600px);
  }
}
@media screen and (min-width: 0px) and (max-width: 425px) {
  .card {
    width: 82vw;
  }
  #btn-close {
    margin-right: 20px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .card {
    width: 86vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 88vw;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .card {
    width: 93vw;
  }
}
@media screen and (min-width: 1441px) {
  .card {
    width: 95vw;
  }
}